.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //outline: 2px solid red;
    width: 100%;
    gap: 50px;
    padding: 100px 0;

    .text {
        text-align: center;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 60px;
                height: 4px;
                margin: 0.5rem auto 0;
                background: #fff;
                border-radius: 2px;
            }
        }
    }

    .projectsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        width: 80%;
        //outline: 2px solid red;
        gap: 20px;
        cursor: pointer;

        .projectItem {
            text-align: center;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    transform: scale(1.05);
                }
            }

            img {
                width: 400px;
                height: 300px;
                object-fit: cover;
                object-position: center;
                border-radius: .4rem;
                box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
            }
        }
    }

    .buttonContainer {
        a {
            background-color: var(--blue-soft);
            color: var(--black);
            padding: 20px 50px;
            border-radius: 1rem;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(1.1);
            }
        }

        //margin-top: 50px;
    }

    @media (max-width: 1024px) {
        .projectsContainer {
            width: 90%;
            grid-template-columns: 1fr 1fr; //repeat(auto-fit, minmax(250px, 1fr));
            gap: 15px;

            .projectItem img {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        .projectsContainer {
            width: 95%;
            grid-template-columns: 1fr 1fr;
            gap: 15px;

            .projectItem img {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 480px) {
        .projectsContainer {
            width: 100%;
            grid-template-columns: 1fr;
            gap: 10px;

            .projectItem img {
                max-width: 100%;
            }
        }
    }
}